.wordOne {
  font-size: 5rem;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #007CF0, #00DFD8);
}

.wordTwo {
  font-size: 5rem;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #7928CA, #FF0080);
}

.wordThree {
  font-size: 5rem;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #FF4D4D, #F9CB28);
}
